<!-- <!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>About - Calorie Buddy</title>
  <meta name="description" content="Calorie Buddy">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">

</head>

<body>
    <div id="logo">
        <img src="../assets/cb-logo.png"/>
    </div>
    <div id="content">
    <nav class="stroke">
        <ul>
            <li><a class="selected" href="/">About</a></li>
            <li><a href="list">Food list</a></li>
            <li><a href="add-food">Add food</a></li>
            <li><a href="search">Search food</a></li>
            <li><a href="update-food">Update food</a></li>
        <ul>
    </nav> -->

    <%- include('partials/header'); -%>
    
    <main class="about">
        <h1>About Calorie Buddy</h1>
        <h2>A digital calorie counter to help manage your diet.</h2>
        <p>You can view and search our database to view nutritional information of food ingredients, or you can add new entries to the database.<br>
        Choose one of the links above on the nevigation bar to continue.
        </p>
    </main>
    </div>
</body>
</html>